@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #1f2427;
  color: #fff;
}

.doneToDo {
  color: green;
  text-decoration: line-through;
}

a.link-edit {
  background: inherit;
  border: 0px;
  font-size: 1.2em;
  width: 80px;
  height: 32px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

a.link-edit:hover {
  background-color: #3d404e;
  /* 3d404e */
  border-radius: 15px;
}